@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource-variable/open-sans';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes dump {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-3px);
  }
}

.btn-dump:hover {
  @apply bg-black text-white;
  animation: dump 0.8s ease-in-out;
}

@font-face {
  font-family: 'Bubble Love Demo';
  src: url('./fonts/Bubble Love Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dinoko-Regular';
  src: url('./fonts/dinoko/Dinoko-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}